*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}

#arcade-container{
    position: relative;
    width: 800px;
    height: 600px;
}

#game-canvas{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #08082a;
}

#top, #bottom{
    position: absolute;
    color: #e6e660;
    pointer-events: none;
    user-select: none;
}

#top{
    top: 20px;
    left: 40px;
    right: 40px;
    justify-content: flex-start;
    gap: 120px;
    font-size: 14px;

}

#hi-score{
    display: flex;
    gap: 16px;
}

#bottom{
    bottom: 20px;
    right: 40px;
    display: flex;
    gap: 16px;
    font-size: 14px;
}